.ul {
	display: flex;
	margin-left: auto;
	list-style: none;
}
.li {
	margin: 10px;
}
.url {
	color: #E4E4E4;
	text-decoration: none;
	margin-left: 20px;
	font-family: 'Montserrat', sans-serif;
}
.home {
	color: #00C4F0;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}
.mi {
	display: flex;
}
.logo {
	width: 100px;
}
header {
	background-color: #2C2C2C;
}
.secta {
	background-color: #00C4F0;
	margin-bottom: -100px;
}
.zag {
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}
h1 {
 text-align: center;
 margin-top: 100px;
}
.but {
	margin-left: 330px;
	background-color: #E2A300;
	height: 50px;
}
.umenia {
text-decoration: none;
}
.zag2 {
	padding: 0;
	margin: 0;
	text-align: center;
}
.ul1 {
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}
.progress {
	background-color: grey;
	height: 15px;
	width: 400px;
}
.progress1 {
background-color: yellow;
	height: 15px;
	width: 340px;
}
.um {
	margin-left: 39px;
	font-family: 'Montserrat', sans-serif;
}
.abra {
	display: flex;
	margin-bottom: 50px;
}
.abra1 {
	width: 500px;
	margin-left: auto;
}
.secta1 {
	background-color: #00C4F0;
	margin-bottom: -50px;
}
footer {
	background-color: #2C2C2C;
	color: #00C4F0;
}
.vid {
	margin: 0 auto;
	width: 57%;
}
.textvideo {
	font-family: 'Montserrat', sans-serif;
}
.secta2 {
	background-color: #00C4F0;
	margin-top: -100px;
}
.gal {
	margin: 0 auto;
	width: 75%;
	display: flex;
	padding: 300px 0 300px 0;
}
.secta3 {
	background-color: #00C4F0;
}
.im {
	width: 250px;
	margin: 15px;
}
.buthome {
	position: fixed;
	top: 0;
	right: 100;
	bottom: 0;
	left: 0;
}
.conteiner{
	width: 1200px;
	margin: 0 auto;
}
.about {
	padding: 250px 0 300px 0;
}
.foote {
	display: flex;
}
.soc {
	height: 50%;
	margin: auto 0 auto auto;
}